@model Samples.Web.Models.TotpEnabledModel

<div>
    @Html.DisplayNameFor(model => model.IsEnabled)
    @Html.DisplayFor(model => model.IsEnabled)
    @if (this.Model.IsEnabled)
    {
        <div>
            @this.Html.ActionLink("[Unregister]", "Unregister")
        </div>
    }
    else
    {
        <div>
            @this.Html.ActionLink("[Register]", "Register")
        </div>
    }
</div>
