<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="tdnfRelay" value=":1234:tdnfhost15:1433;:1235:mwwhited.homedns.org:22;:1236:www.google.com:80"/>
  </appSettings>

  <system.serviceModel>

    <bindings>
      <wsDualHttpBinding>  
        <binding name="WSDualHttpBinding_NetworkRelay" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00"/>
          <security mode="Message">
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>

    <client>
      <!--address="http://localhost:5160/Services/NetworkRelay.svc"-->
      <endpoint address="http://www.whited.us/alphasite/Services/NetworkRelay.svc" behaviorConfiguration="credentialConfiguration" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_NetworkRelay" contract="ConnectionRelayServer.NetworkRelay" name="WSDualHttpBinding_NetworkRelay">
        <identity>
          <userPrincipalName value="FRAME\Matthew Whited"/>
        </identity>
      </endpoint>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="credentialConfiguration">
          <clientCredentials>
            <clientCertificate findValue="matt@whited.us" storeLocation="CurrentUser" x509FindType="FindBySubjectName"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
