<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="runtimeConfiguration" type="WhitedUS.Runtime.Configuration.RuntimeConfiguration,WhitedUS.Runtime,PublicKeyToken=f78fa6828975ead6"/>
    <section name="myProviders" type="WhitedUS.Security.Configuration.MyProvidersConfiguration,WhitedUS.Security,PublicKeyToken=f78fa6828975ead6"/>
    <section name="servicesConfiguration" type="WhitedUS.Services.Configuration.ServicesConfiguration,WhitedUS.Services,PublicKeyToken=f78fa6828975ead6"/>
  </configSections>

  <servicesConfiguration>
    <telnetConfig port="23" welcomeMessage="Welcome to my telnet server" loginPrompt="Login: " passwordPrompt="Password: " failedMessage="Login failed" useMembershipProvider="true"/>
  </servicesConfiguration>

  <myProviders applicationName="Alphasite">
    <myMembershipProvider maxInvalidPasswordAttempts="5" minRequiredNonAlphanumericCharacters="1" minRequiredPasswordLength="7" passwordAttemptWindow="30" passwordStrengthRegularExpression="" passwordGeneratorClass="WhitedUS.Security.MyPasswordGenerator,WhitedUS.Security,PublicKeyToken=f78fa6828975ead6" passwordGeneratorStaticMethodName="GeneratePassword" passwordICryptClass="WhitedUS.Security.MyCrypt,WhitedUS.Security,PublicKeyToken=f78fa6828975ead6"/>
  </myProviders>

  <runtimeConfiguration>
    <runtimeModules>
      <clear/>
      <!--
      <add
        key="ServiceHelloWorld"
        moduleType="WhitedUS.Runtime.Addons.ServiceHelloWorld,WhitedUS.Runtime.Addons,PublicKeyToken=f78fa6828975ead6"
        />
      <add
        key="LdapProvider"
        moduleType="WhitedUS.Runtime.Addons.LdapProvider,WhitedUS.Runtime.Addons,PublicKeyToken=f78fa6828975ead6"
        />
      <add
        key="TelnetServer"
        moduleType="WhitedUS.Runtime.Addons.TelnetServer,WhitedUS.Runtime.Addons,PublicKeyToken=f78fa6828975ead6"
        />
        -->
      <add key="SNTPServer" moduleType="WhitedUS.Runtime.Addons.SNTPServer,WhitedUS.Runtime.Addons,PublicKeyToken=f78fa6828975ead6"/>
    </runtimeModules>
  </runtimeConfiguration>

  <system.web>
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <clear/>
        <add name="MyMembershipProvider" type="WhitedUS.Security.MyMembershipProvider,WhitedUS.Security,PublicKeyToken=f78fa6828975ead6"/>
      </providers>
    </membership>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
