<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SharedEntities" connectionString="metadata=res://*/SharedEntities.csdl|res://*/SharedEntities.ssdl|res://*/SharedEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=ImageStore;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True;Application Name=ImageStoreTestHarness&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
