<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="CarMaintenanceLogEntities"
      connectionString="metadata=res://*/CarMaintenanceLogEntities.csdl|res://*/CarMaintenanceLogEntities.ssdl|res://*/CarMaintenanceLogEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CarMaintLog.db.4256559.202.hostedresource.net; Initial Catalog=CarMaintLog; User ID=CarMaintLog; Password='SeSGCHdXrAtLngTAF!zz35CrHz5eCn50YAz4z!iS#b4wLV3k4vFTgU@m7CPlDWZOu1DKZALkmJ3F@gOcfze52Pimw';&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
