<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SharedEntities" connectionString="metadata=res://*/SharedEntities.csdl|res://*/SharedEntities.ssdl|res://*/SharedEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=ImageStore;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True;Application Name=ImageStoreTestHarness&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="AspnetMembershipProvider">
      <providers>
        <clear/>
        <add name="AspnetMembershipProvider" type="WhitedUS.Web.Security.AspnetMembershipProvider, WhitedUS.Web.Security" connectionStringName="SharedEntities" applicationName="WhitedUS"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AspnetRoleProvider">
      <providers>
        <clear/>
        <add name="AspnetRoleProvider" type="WhitedUS.Web.Security.AspnetRoleProvider, WhitedUS.Web.Security" connectionStringName="SharedEntities" applicationName="WhitedUS"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
