<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="modernhttpclient" version="2.4.2" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="2.3.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="2.5.4" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.DataGrid" version="1.8.3" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Xamarin.Forms.Pages" version="2.3.3.193" targetFramework="xamarinios10" />
  <package id="XLabs.Settings" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Settings.XamSettings" version="2.0.5782" targetFramework="xamarinios10" />
</packages>